body {
    font-family: "Times New Roman", Times, serif;
    background-color: white;
    color: black;
}
h1 {
    text-decoration: underline;
}

h2 {
    text-decoration: underline;
}
h3 {
    text-decoration: underline;
}

.section {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
a:link {
    color:darkblue;
}
a:hover {
    color: red;
}
a:visited {
    color:CornflowerBlue;
}

hr { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-radius: 1.5px;
}

#thinkerSelector {
    height: 30px;  /* Adjust the height to match the height of the SVG */
    font-size: 14px; /* Ensure consistency with the font size */
    vertical-align: middle; /* Align the select box vertically in relation to the SVG */
    padding: 0 10px; /* Adjust padding if necessary to match proportions */
}

/* Scale and align the SVG to match the height of the select box */
svg {
    /* Make sure the SVG height is consistent with the select box height */
    transform: translateY(133px); /* Slightly adjust the position to align with the select box */
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}